.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-weight: bold;
  color: #fff;
  font-size: 2.4rem;
  margin: 2rem 0;
  display: inline-block;
  padding: 0.5rem 5rem;
  border-radius: 15px;
  background-color: #ffffff0f;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 3rem 0;
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: #dedddd;
  overflow: hidden;
  height: min-content;
  width: 36rem;
  /* opacity: 0;
  animation: ani2 1s ease-out 1s forwards; */
}

.img {
  width: 36rem;
  border-top: 5rem;
}

.projectHeader {
  font-weight: bold;
  font-size: 2rem;
  color: #0b3840;
  background-color: #dedddd;
  margin: 1.2rem 0;
  text-align: center;
}

.aboutProject {
  background-color: #dedddd;
  color: #0b3840;
  padding: 0 3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin: 3rem 0;
  background-color: #dedddd;
}

.button {
  display: flex;
  gap: 1rem;
  padding: 1rem 3.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 10rem;
  border: none;
}

.button:visited,
.button:link {
  background-color: #0b3840;
  color: #fff;
}

.button:hover,
.button:active {
  background-color: #0b3840e2;
  color: #fff;
}
.buttonText {
  background-color: #0b3840e2;
}
.gitIcon {
  background-color: #0b3840e2;
  text-align: center;
  font-size: 1.1rem;
  padding-right: 0.2rem;
}

.downButton {
  justify-content: center;
  background-color: #94ae21;
  font-weight: 700;
  font-size: 1.1rem;
  color: #0b3840;
  padding: 1rem 0;
  border: none;
}

/* .downButton:visited,
.downButton:link {
} */
.downButton:hover,
.downButton:active {
  background-color: #94ae21ab;
}

/* @keyframes ani2 {
  100% {
    opacity: 1;
  }
} */

/* @keyframes slideLeft {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
} */

/* .animationRight {
  opacity: 0;
  transform: translateX(100%);
  animation: slide 1s ease-out 1.5s forwards;
}

.animationLeft {
  opacity: 0;
  transform: translateX(-100%);
  animation: slide 1s ease-out 1s forwards;
}

@keyframes slide {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
} */
